*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 80%;
    /* background-color: plum; */
    padding: 34px;
    margin: auto;
}
.container h1{
    text-align: center;
    margin-bottom: 10px;
}
.container p{
    margin-top: 8px;
    text-align: center;
    font-size: 17px;
}
input, textarea{
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-family:'Times New Roman', Times, serif;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}